﻿@model PortalKolekcjonerow.Models.OfertyViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

@Html.ActionLink("Buy", "Buy", new { id = Model.IdOferty }, new { @class = "btn btn-primary" })

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdOferty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdOferty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSprzedawcy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSprzedawcy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdKupujacego)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdKupujacego)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Uploaded Image
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/Image/" + Model.ImageName)" asp-append-version="true" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOferty }) |
    <a asp-action="Index">Back to List</a>
</div>
