﻿@model PortalKolekcjonerow.Models.ArtykulyViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdArtykulu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdArtykulu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAutora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAutora)
        </dd>
        <dt class="col-sm-2">
            Uploaded Image
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/Image/" + Model.ImageName)" asp-append-version="true"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdArtykulu }) |
    <a asp-action="List">Back to List</a>
</div>
