﻿@model IEnumerable<PortalKolekcjonerow.Models.ArtykulyViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>List</h1>

@if (ViewBag.Role == "Administrator" || ViewBag.Role == "Redaktor")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.IdArtykulu)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.IdAutora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageName)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IdArtykulu)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Tytul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IdAutora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageName)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @if (ViewBag.Role == "Administrator" || ViewBag.Role == "Redaktor")
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdArtykulu }) <text> | </text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdArtykulu }) <text> | </text>
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.IdArtykulu })
                </td>
            </tr>
        }
    </tbody>
</table>
