﻿@model PortalKolekcjonerow.Models.WlasneBudowleViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="IdArtykulu" class="control-label"></label>
            <input asp-for="IdArtykulu" class="form-control" />
            <span asp-validation-for="IdArtykulu" class="text-danger"></span>
        </div>*@
            @Html.HiddenFor(model => model.IdBudowli)
            @Html.HiddenFor(model => model.IdAutora)
            @Html.HiddenFor(model => model.ImageName)
            @Html.HiddenFor(model => model.ImageFile)
            @Html.HiddenFor(model => model.Date)
            <div class="form-group">
                <label asp-for="Tytul" class="control-label"></label>
                <input asp-for="Tytul" class="form-control" />
                <span asp-validation-for="Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
