﻿@model IEnumerable<PortalKolekcjonerow.Models.UserRolesViewModel>
@{
    ViewData["Title"] = "Assign";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rolename = ViewBag.RoleName;
}

<h1>Assign @ViewBag.RoleName</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Assign", "AssignConfirmed", new { id = item.UserId, roleName = rolename, czyUsunac = false }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete User", "AssignConfirmed", new { id = item.UserId, roleName = rolename, czyUsunac = true }, new { @class = "btn btn-primary" })
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
