﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Roles</h1>
<a asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
        <tr>
            <td>@role.Id </td>
            <td>@role.Name </td>
            <td align="center">@Html.ActionLink("Assign", "Assign", new { roleName = role.Name }, new { @class = "btn btn-primary"})</td>
        </tr>
        }
    </tbody>
</table>
